<app-header></app-header>
<section id="gg">
    <article>
        <h2>What is Afrosphere?</h2>
        <p>
            Afrosphere was build to serve as a <b>one stop shop</b> for climate change related information.
            <br>
            It serves to inform the you of the effects of climate change in africa as well as motivate you to contribute
            positively to the environment
            <br>
            This app possess feature which serve to contribute positively to the problem of climate change in Africa.


        </p>
        <em class="read_more_link routeLink">Read more</em>
    </article>

    <article id="solution_provision">
        <h2>
            Our product solutions
        </h2>
        <div class="solution_list">
            <mat-card class="card">
                <div>
                    <fa-icon [icon]="cloudSun"></fa-icon>
                </div>
                <mat-card-title>Real-time climate Data</mat-card-title>
                <mat-card-subtitle>Get real-time data on climate change in selected african regions on your device and
                    stay informed</mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <div>
                    <fa-icon [icon]="phone"></fa-icon>
                </div>
                <mat-card-title>CTA</mat-card-title>
                <mat-card-subtitle>Call for action: call enviromental industries to interved in enviromental hazards.
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="tree"></fa-icon>
                </div>
                <mat-card-title>Damaged soils</mat-card-title>
                <mat-card-subtitle>Get the right informtion on environments with bad soils
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="bolt"></fa-icon>
                </div>
                <mat-card-title>Stormy Enviroments</mat-card-title>
                <mat-card-subtitle>Get the right data about a location before moving in as to avoid storms.
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="bioHazard"></fa-icon>
                </div>
                <mat-card-title>Environmental Harvards</mat-card-title>
                <mat-card-subtitle>Know environments that are exposed to gas emmisions and fossil fuels.
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="flood"></fa-icon>
                </div>
                <mat-card-title>Pr flooding</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card>
        </div>
    </article>

    <article>
        <h2>How it works</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin
            consectetur netus dui, ultrices ornare
            <br />
            lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Aliquam
            vel, in molestie morbi eleifend
            <br />
            feugiat nunc fringilla in. Amet, sit elementum ut enim neque, adipiscing
            euismod ac. Molestie eu
        </p>

        <div class="showcase">
            <h3>A Brief Walk Through</h3>
            <div>
                <mat-card class="card">
                    <div>
                        <fa-icon [icon]="tree"></fa-icon>
                    </div>
                    <mat-card-title>Damaged soils</mat-card-title>
                    <mat-card-subtitle>Get the right informtion on environments with bad soils
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="card">
                    <div>
                        <fa-icon [icon]="tree"></fa-icon>
                    </div>
                    <mat-card-title>Damaged soils</mat-card-title>
                    <mat-card-subtitle>Get the right informtion on environments with bad soils
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="card">
                    <div>
                        <fa-icon [icon]="tree"></fa-icon>
                    </div>
                    <mat-card-title>Damaged soils</mat-card-title>
                    <mat-card-subtitle>Get the right informtion on environments with bad soils
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="card">
                    <div>
                        <fa-icon [icon]="tree"></fa-icon>
                    </div>
                    <mat-card-title>Damaged soils</mat-card-title>
                    <mat-card-subtitle>Get the right informtion on environments with bad soils
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </article>
</section>