<app-header></app-header>
<section id="gg">
    <article>
        <h2>What is afrosphere?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin
            consectetur netus dui, ultrices ornare
            <br />
            lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Aliquam
            vel, in molestie morbi eleifend
            <br />
            feugiat nunc fringilla in. Amet, sit elementum ut enim neque, adipiscing
            euismod ac. Molestie eu
        </p>
        <em class="read_more_link routeLink">Read more</em>
    </article>

    <article id="solution_provision">
        <h2>
            What Our Solution <br />
            Provides
        </h2>
        <div class="solution_list">
            <mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card><mat-card class="card">
                <div>
                    <fa-icon [icon]="coffee"></fa-icon>
                </div>
                <mat-card-title>Info on climate change</mat-card-title>
                <mat-card-subtitle>Keep track the climate change in specified regions of portharcourt
                    and stay informed
                </mat-card-subtitle>
            </mat-card>
        </div>
    </article>

    <article>
        <h2>How it works</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin
            consectetur netus dui, ultrices ornare
            <br />
            lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Aliquam
            vel, in molestie morbi eleifend
            <br />
            feugiat nunc fringilla in. Amet, sit elementum ut enim neque, adipiscing
            euismod ac. Molestie eu
        </p>

        <div class="showcase">
            <h3>A Brief Walk Through</h3>
            <div></div>
        </div>
    </article>
</section>