@import url(../shared/shared_styles/allShared.scss);

section {
  display: inline-block;
  width: 100%;
  padding: 20px 80px;
  article {
    margin: 100px 0;
    h2 {
      font-size: 6vh;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 40px;
    }
    .read_more_link {
      color: gold;
    }
    .solution_list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px;
      .card {
        height: 250px;
        border: 2px solid black;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5%;
        div {
          border-radius: 5px;
          padding: 3px;
          width: fit-content;
          font-size: 30px;
          color: gold;
          background-color: black;
          margin-bottom: 15px;
        }
      }
      .card:hover {
        background-color: gold;
        transition: all 0.2s;
        div {
          color: white;
        }
      }
    }

    .showcase {
      height: fit-content;
      box-shadow: 1px 1px 1px;
      border: 2px solid #888888;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin: 20px 0;
        text-align: center;
      }
      .steps {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10px;
        justify-content: space-evenly;
        .card {
          height: 180px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            margin-bottom: 20px;
            font-size: 40px;
          }
        }
        .card:hover {
          background-color: gold;
          transition: all 0.2s;
        }
      }
    }
  }
}

@media only screen and (max-width: 735px) {
  section {
    padding: 20px 50px;
    article {
      .solution_list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
      }

      .showcase {
        margin: 0 0;
        box-shadow: 1px 1px 1px;
        border: 2px solid #888888;
        .steps {
          display: grid;
          grid-template-columns: 50% 50%;
          justify-content: space-evenly;
          .card {
            background-color: gold;
            div {
              margin-bottom: 20px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  section {
    padding: 20px 50px;
    article {
      .solution_list {
        display: grid;
        grid-template-columns: 100%;
      }
      .showcase {
        margin: 0 0;
        box-shadow: 1px 1px 1px;
        border: 2px solid #888888;
        .steps {
          display: grid;
          grid-template-columns: repeat(1, auto);

          justify-content: space-evenly;
        }
      }
    }
  }
}
