@import url(../shared/shared_styles/allShared.scss);

section {
  display: inline-block;
  width: 100%;
  padding: 20px 80px;
  article {
    margin: 100px 0;
    h2 {
      font-size: 6vh;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 40px;
    }
    .read_more_link {
      color: gold;
    }
    .solution_list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px;
      .card {
        height: 250px;
        border: 2px solid black;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5%;
        div {
          border-radius: 5px;
          padding: 3px;
          width: fit-content;
          font-size: 30px;
          color: gold;
          background-color: black;
          margin-bottom: 15px;
        }
      }
      .card:hover {
        background-color: gold;
        transition: all 0.2s;
        div {
          color: white;
        }
      }
    }

    .showcase {
      height: 300px;
      margin: 0 50px;
      box-shadow: 1px 1px 1px;
      border: 2px solid #888888;
      h3 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 735px) {
  section {
    padding: 20px 50px;
    article {
      .solution_list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
      }

      .showcase {
        height: 300px;
        margin: 0 0;
        box-shadow: 1px 1px 1px;
        border: 2px solid #888888;
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  section {
    padding: 20px 50px;
    article {
      .solution_list {
        display: grid;
        // display: none;
        grid-template-columns: 100%;
      }
    }
  }
}
