@import url(../shared/shared_styles/allShared.scss);

section {
  border: 4px solid black;
  display: inline-block;
  width: 100%;
  //   height: 70vh;

  //   padding: 10px 0;
  padding: 20px 50px;
  article {
    border: 2px solid black;
    margin: 50px 0;
    h2 {
      font-size: 6vh;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      border: 2px solid rebeccapurple;
      margin-bottom: 40px;
    }
    .read_more_link {
      color: gold;
    }
    .solution_list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, 250px);
      gap: 10px;
      justify-content: space-between;
      ul {
        border: 2px solid firebrick;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5%;
      }
      ul:hover {
        background-color: gold;
      }
    }
  }
  article::selection {
  }
}
