<div>
    <div>
        <img src="\assets\imgs\logo.png" alt="afrosphere_logo">
        <p>Afrosphere</p>
    </div>
    <div>
        <ul>
            <li class="nav_tabs">home</li>
            <li class="nav_tabs">about</li>
            <li class="nav_tabs">our solution</li>
            <li class="nav_tabs">contact</li>
        </ul>
    </div>
    <div>
        <!-- <mat-slide-toggle></mat-slide-toggle> -->
        <button mat-raised-button class="btn1">Become a contributor</button>
    </div>
</div>