@import url(../shared_styles/allShared.scss);

ul {
  list-style: none;
}

nav {
  background-color: rgb(41, 48, 70);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  width: 100%;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-left: 5px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    // border: 2px solid white;

    li {
      // border: 2px solid white;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      margin: 0 30px;
    }
    li:hover {
      color: gold;
      transition: all 0.2s;
    }
  }

  .side_nav_list {
    display: flex;
    flex-direction: column;
    li {
      margin: 10px 0;
    }
  }
  .sideNavBtn {
    display: none;
  }
  #sect3 {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    #sect2 {
      display: none;
    }
    .btn1 {
      display: none;
    }
    .sideNavBtn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 48, 70);
  border: 2px solid;
  width: 300px;
  padding: 20px;
  color: white;
  .closeSideNav {
    background-color: gold;
  }
}
