@import url(../shared_styles/allShared.scss);

footer {
  background-color: rgb(41, 48, 70);
  display: block;
  padding: 40px 60px 20px 60px;
  color: white;
  article {
    // display: grid;
    // grid-template-columns: 90% 10%;
    .footer_info {
      // display: flex;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
      ul {
        h3 {
          margin-bottom: 20px;
        }
        li {
          margin-bottom: 10px;
        }
      }
    }
    p {
      margin-top: 15px;
    }
  }
}
@media only screen and (max-width: 735px) {
  footer {
    article {
      .footer_info {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: space-between;
        ul {
          margin-bottom: 10px;
        }
      }
    }
  }
}
