<footer>
    <article class="sect1">
        <div class="footer_info">
            <ul>
                <h3>Software Information</h3>
                <li>About Afrospace</li>
                <li>How it works</li>
                <a href="#solution_provision">
                    <li>What our Solution provides</li>
                </a>
                <li>Our repository</li>
            </ul>

            <ul>
                <li>
                    <h3>Software Information</h3>
                </li>
                <li>Become an Active Contributor</li>
                <li>Sign up</li>
                <li>contact us</li>
            </ul>
            <ul>
                <li>
                    <h3>Software Information</h3>
                </li>
                <li>Privacy-policy</li>
                <li>Terms of use</li>
            </ul>
        </div>
    </article>
    <article>
        <p><small>Developed by Hacker-X for Atlassian Agile Fest 2022</small></p>
    </article>
</footer>