<header>
    <div id="sect1">
        <h1>Protect Africa <br> Against Climate <br> Change <span>&#9752;</span></h1>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat facilisis volutpat turpis. Felis mi,
                ultrices ornare duis placerat erat.</small></p>

        <div>
            <button mat-raised-button class="btn1 normal">Start Today</button>
        </div>
    </div>
    <div class="header-img">
        <img src="assets\imgs\header-img.png" alt="forest-cloud" height="100%">

        <!-- <img src="assets\imgs\cloud-removebg-preview 1.png" alt="forest-cloud" height="100%"> -->
    </div>
</header>