@import url(../shared_styles/allShared.scss);

$customGrayDark: rgb(41, 48, 70);
$customGraylight: rgb(75, 76, 81);

header {
  padding: 10px 0;
  height: 70vh;
  // border: 3px solid black;
  border-radius: 0 0 0 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient($customGrayDark 50%, $customGraylight);

  h1 {
    font-weight: bolder;
    font-size: 10vh;
    line-height: 100%;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }

  .header-img {
    height: 100%;
  }
  span {
    margin-left: 10px;
    position: absolute;
    color: greenyellow;
  }
}
