<header>
    <div id="sect1">
        <h1>Protect Africa <br> Against Climate <br> Change <span>&#9752;</span></h1>
        <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat facilisis volutpat turpis. Felis mi,
                ultrices ornare duis placerat erat.</small></p>

        <div>
            <button mat-raised-button class="btn1 normal" routerLink="/region">Explore Platform</button>
        </div>
    </div>
    <div class="header-img">
        <!-- <img src="assets/imgs/header-img.png" height="50px" alt=""> -->
        <img src="assets\imgs\header-img.png" class="img_comp_2" alt="forest-cloud" height="100%" width="100%">
    </div>
</header>